secrets = {
    facebook:
    {
        clientId: '123123123',
        secret: 'asdhjk4r7hsdf7sdf'
    },

    google:
    {
        clientId: '1481289401890124-23827d8sf7s7te.apps.googleusercontent.com',
        secret: 'IFAS32374FD9sdfsd'
    }
}
